@charset 'UTF-8';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, system-ui, sans-serif;
    margin: 0;
    overflow: hidden;
}

button, input[type="submit"], [type="file"] {
    background-color: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    &.primary, &.error {
        border-radius: 4px;
        box-sizing: border-box;
        color: #fff;
        font-family: Roboto, BlinkMacSystemFont, -apple-system, system-ui, sans-serif;
        font-size: 16px !important;
        letter-spacing: .01em;
        line-height: 1.5;
        min-width: 30px;
        padding: 3px 15px;
        transition: background-image .1s, border-color .1s, box-shadow .09s;
        will-change: background-image, border-color, box-shadow;
        &:disabled {
            opacity: .2;
        }
    }
    &.primary {
        background-image: linear-gradient(#3798e2, #005fac);
        border: 1px solid #005fac;
        &:hover {
            background-image: linear-gradient(#2d83c6, #00569d);
            border-color: #006475;
        }
        &:focus {
            box-shadow: rgba(122, 155, 187, .5) 0 0 0 2px;
        }
        &:active {
            background-image: linear-gradient(#3D94D9, #0067B9);
            border-color: #006DBC;
        }
    }
    &.error {
        background-image: linear-gradient(#e23737, #ac0000);
        border: 1px solid #ac0000;
        &:hover {
            background-image: linear-gradient(#c62d2d, #9d0000);
            border-color: #9d0000;
        }
        &:focus {
            box-shadow: rgba(187, 122, 122, .5) 0 0 0 2px;
        }
        &:active {
            background-image: linear-gradient(#d93d3d, #b90000);
            border-color: #b90000;
        }
    }
}
